{% extends "base.html" %}

{% block content %}
<div class="static">
<form method="post">{% csrf_token %}
  <section class="center down">
    <header>
      <h2>Reset password</h2>
      <h3>Just enter your email, and we'll send you a reset link.</h3>
    </header>
    <div>
        <label for="id_email">E-mail address:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <footer>
    <button type="submit">Reset my password</button>
    </footer>
  </section>
</form>
</div>
{% endblock %}
