{% extends "base.html" %}

{% block content %}
<form method="post">{% csrf_token %}
  <section class="center down">
    <header>
      <h2>Set new password</h2>
      <h3>Enter a new password, and we'll update your account.</h3>
    </header>
    <div>
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>
    <div>
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>
    <footer>
      <button type="submit">Change my password</button>
    </footer>
  </section>
</form>
{% endblock %}
