/* HTML5 helpers */
  article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }

/* page layout */
html { background: #555 url('../images/background.jpg') repeat-y top center; }
body { font-family: Verdana, sans-serif; }
.icon { width: 16px; height: 16px; }
#container { width: 871px; margin: 0 auto; position: relative; }
#content { padding: 5px 10px; background: #fff; min-height: 450px; overflow: hidden;
     -moz-box-shadow: 1px 1px 1em #010101; /* FF3.5+ */
  -webkit-box-shadow: 1px 1px 1em #010101; /* Saf3.0+, Chrome */
          box-shadow: 1px 1px 1em #010101; /* Opera 10.5, IE 9.0 */
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

#container > header { font-family: Arial; overflow: auto; }
#container > header .logo { float: left; width: 400px; height: 64px; margin: 25px 0;
    background: transparent url('../images/logo3.png') no-repeat scroll 50% 50%; }
#container > header .logo > a { display: block; width: 100%; height: 100%; text-indent:-9999em; }
#container > header .info { float: right; margin: 20px 10px;
    text-align: right; color: #eee; font-size: 11px; }
#container > header .info a { color: #ccf; text-decoration: none; font-size: 10px; }
#container > header .info strong { font-weight: bold; }
#container > footer { color: #fff; font-size: 12px; margin: 10px 0; }
#footer-decor { height: 25px; margin: -15px 0 2em; background-color: #e0e0e0;
    -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

nav { clear: right; overflow: hidden; font-size: 11px; position:relative; text-align:right; }
.menu li { display: inline-block; height: 25px; padding-left: 5px; margin: 0 5px 0 20px;
    position: relative; background: url('../images/menu_item.png') left 0; }
.menu i { display: block; right: -5px; top: 0; width: 5px; height: 100%;
    position: absolute; background: url('../images/menu_item.png') right 0; }
.menu .active { background-image: url('../images/menu_active.png'); }
.menu .active i { background-image: url('../images/menu_active.png'); }
.menu a { display: block; font-weight: bold; padding: 5px 10px;
    color: #fff; text-decoration: none; text-transform: uppercase; }

/* main page */
.main-column { margin: 10px 20px; float: left; width: 45%; }
.main-column h2 { font-size: 20px; padding: 10px 0; }
.main-block { margin: 10px; font-size: 11px; }
.main-block img { float: left; margin-right: 10px; }
.main-block h3 { font-size: 18px; padding: 5px; }
.main-block p { line-height: 20px; margin: 10px 0 20px 0; color: #333; }

.static { margin: 10px; font-size: 12px; }
.static h2 { font-size: 18px; }
.static .errorlist { color: red; }

/* registration pages */
.login { width: 250px; margin: 50px auto; padding: 20px; }
.login div { margin-bottom: 10px; }
.login label { display: block; font-size: 14px; }
.login input { font-size: 20px; width: 240px; padding: 2px; }
.login .error { color: red; font-size: 12px; padding: 5px; }

.register .sub-plan { float: right; }
.register h2 { font-size: 20px; margin: 10px; }
.register > div { margin: 5px 10px; }
.register label { float: left; width: 120px; padding: 5px; font-size: 12px; }
.register .errorlist { float: right; color: red; font-size: 12px; margin-right: 50px; }
.register select { font-size: 12px; }
.register button { margin: 10px; }

#container > header form { padding: 4px 0; }
#container > header form input { padding: 2px; width: 100px; }
#container > header form button { font-size: 90%; }

/* profile pages */
.basic { margin: 10px; }
.basic h2 { font-size: 20px; }
.basic div { margin: 5px; }
.basic label { display: block; }
.basic button { margin: 5px; }
.basic .errorlist { color: red; }

.upgrade td { vertical-align: top; }
.upgrade td:first-child { width: 110px; padding: 20px 10px; font-size: 10px; }
.upgrade .cc-info { float: right; }
.upgrade .cc-info.free .cc-data { opacity: 0.3; }
.upgrade .errorlist { float: none; margin-left: 120px; margin-right: 0; }

/* plans page */
.sub-plan-container { overflow: auto; margin: -8px -10px; padding: 10px 35px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    height: 390px; background: url('../images/plans_gradient1.jpg') repeat-x; }
.sub-plan-container .sub-plan { float: left; }
.sub-plan-promo { text-align: center; margin-top: 5px; }
.sub-plan-promo a { display: inline-block; padding: 8px 50px;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
    background-color: #141c1e; font-size: 20px;
    color: #fff; text-decoration: none; text-transform: uppercase; }

.sub-plan { margin: 20px; position: relative; }
.sub-plan h3 { text-transform: uppercase; font-size: 20px; margin-bottom: 5px; }
.sub-plan > div { width: 225px; height: 267px; position: relative;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    background: url('../images/plans_gradient3.jpg') repeat-x; }
.sub-plan .price { position: relative; top: 15px; left: -5px; padding: 5px 25px;
    width: 169px; height: 38px; font-size: 14px; color: #333;
    background: url('../images/plans_stripe.png') no-repeat; }
.sub-plan big { font-weight: bold; }
.sub-plan ul { color: #eee; font-size: 13px; }
.sub-plan li { margin: 15px 20px; }
.sub-plan label { font-weight: bold; float: left; width: 100px; padding: 0; }
.sub-plan p { padding: 0 20px; color: #ccc; font-size: 12px; }
.sub-plan a { display: block; width: 197px; height: 36px; margin: 14px;
    font-size: 0; text-indent: -1000px; position: absolute; bottom: 0;
    background: url('../images/plans_button.png') no-repeat; }

.sub-plan .icon { display: inline-block; }
.icon-yes { background: url('../icons/icon_yes.png'); }
.icon-no { background: url('../icons/icon_no.png'); }

/* watch page: add form */
.add-watch { color: #1b3d42; margin: 10px 5px; position: relative; }
.add-watch form { padding: 5px; font-size: 12px; position: relative; }
.add-watch form > div { float: left; margin: 2px; min-width: 40px; }
.add-watch form label { display: block; }
.add-watch form input { padding: 2px; margin: 2px 0; }
.add-watch form button { color:inherit; font-size:12px; font-weight:bold; letter-spacing: 0.05em; margin-top: 4px; padding:0.5em 1em; text-transform:uppercase; }
.add-watch p.name { clear: left; color: #999; }
.add-watch p.name em { color: red; }
.add-watch .price { width: 5em; }
.add-watch .price-loader { background: url('../images/ajax-loader.gif') no-repeat;
    display: inline-block; margin-bottom: -2px; }
.add-watch .ui-widget-shadow { position: absolute; width: 100%; height: 100%; }

.plan-status { background: white; }
.plan-status .ui-icon { float: left; margin-right: 4px; }
.plan-status div { margin: 0.5em 5px 1em; font-size: 11px; color: #333; }
.plan-status #warn-limit { font-weight: bold; }

/* watch page: item list */
.grid-watch { padding: 0 20px; overflow: auto; }
.grid-watch > * { width: 500px; }
.grid-watch tr>* { text-align: center; }
.grid-watch th:first-child { text-align: left; }
.grid-watch tr>*:nth-child(1) { width: 200px; }
.grid-watch tr>*:nth-child(2) { width: 75px; }
.grid-watch tr>*:nth-child(3) { width: 150px; }
.grid-watch tr>*:nth-child(4) { width: 75px; }
.grid-watch tr>*:nth-child(5) { width: 40px; }
.grid-watch tr>*:nth-child(6) { width: 20px; }
.grid-watch th a { text-decoration: none; }
.grid-watch th a:hover { color: #99f; }

.grid-watch ul { margin: 5px 0; }
.grid-watch li { margin: 5px -10px; padding: 5px 5px; position: relative;
    border: 1px solid #eee; border-width: 1px 0; }
.grid-watch li td { padding: 0 4px; font-weight: normal; }
.grid-watch li:hover { background: #ffc; border-color: #cc9; }
.grid-watch .symbol { font-size: 24px; }
.grid-watch .editable { color: #999; }
.grid-watch .price { color: #333; font-weight: bold; text-align: center; }
.grid-watch .floater { position: absolute; right: -20px; top: 5px; padding: 0 5px;
    width: 100px; margin-right: -100px; font-size: 10px; border: 2px solid #c66; }

.grid-watch input { width: 50px; padding: 2px; text-align: center; border: 1px solid #ccc; }
.grid-watch .icon { display: inline-block; vertical-align: sub; }
.icon-trash { background: url('../images/monitor_remove.png'); }
.icon-on { background: url('../images/monitor_enabled.png'); width: 26px; height: 26px; }
.icon-off { background: url('../images/monitor_disabled.png'); width: 26px; height: 26px; }

/* watch page: design update */
header.grid-watch { color: #eee; margin: -5px -10px 0; overflow: hidden;
    background: url('../images/monitor_header.png') no-repeat; }
header.grid-watch table { font-size: 11px; position:relative; left: 195px; height: 3em; }
header.grid-watch table th { border-left:1px solid #405D63; }
header.grid-watch table th:hover { background:#293A3F; }
header.grid-watch a { color: inherit; }

.grid-side { float: left; width: 200px; height: 100%; margin-left: -10px;
    background-color: #d0eaef; }
.grid-side > * { margin: 12px 8px; padding: 8px; border: 1px solid #8ac;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.grid-side h4 { font-size: 12px; font-weight: bold; padding: 2px 4px; }
.grid-side-footer {
  background-image: -moz-linear-gradient(top, #D0EAEF, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D0EAEF),color-stop(1, #ffffff)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#D0EAEF', EndColorStr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D0EAEF', EndColorStr='#ffffff')"; /* IE8 */
    border: 0 none;
    height: 3em;
    margin: 0;
    padding: 0;
}

.grid-watch .alert-email.false { background: url('../icons/alert_email_off.png'); opacity: 0.5; }
.grid-watch .alert-email.true { background: url('../icons/alert_email_on.png'); }
.grid-watch .alert-phone.false { background: url('../icons/alert_phone_off.png'); opacity: 0.5; }
.grid-watch .alert-phone.true { background: url('../icons/alert_phone_on.png'); }

/* QA URLs: / /plans */
.main-stripe {
  border-top: 1px solid #556c71;
  width: 100%; height: 74px; bottom: 0; left: -12px; outline: 1px solid #3c4a4e; padding: 0 12px;
    position: absolute; background: url('/static/images/main_stripe_bg.png') repeat-x; }
.main-stripe a { width: 164px; height: 44px; margin: 14px 20px 0 40px; float: left;
    display: block; background: url('/static/images/main_signup.jpg') no-repeat; }
.main-stripe p { color: white; font-size: 9px; margin: 24px; }

.main-stripe.plans { height: 50px; position:static; margin: -11px; }
.main-stripe.plans p { font-size: 15px; line-height: 50px; height: 100%; position:static; margin: 0; text-align: center; white-space:nowrap; }
.main-stripe.plans p > img { margin: 0 0.5em; vertical-align: -20%; }