/*
 * COLORS
 *
 * green    : #0AF305
 * orange   : #FB9400
 * dark blue: #0350A6
 * deep blue: #011934
 * turqoise : #2AAFCE
 *
 */



/* page layout */
html { background: #555 url('../images/background.jpg') repeat-y top center; }
body { font-family: Verdana, sans-serif; }
small { font-size: 0.7em; }
a { color: #FB9400; }
a:hover { text-decoration:underline; }
#content a.simple { color:inherit; }
a.simple:hover { text-decoration: none; }
#content a { color:#2AAFCE; }
#content .module a { color:#FB9400; } /* .module has a dark background */
.icon { width: 16px; height: 16px; }
#container { width: 871px; margin: 0 auto; position: relative; }
#content { padding: 10px 10px 15px; background: white; min-height: 450px;
     -moz-box-shadow: 1px 1px 1em #010101; /* FF3.5+ */
  -webkit-box-shadow: 1px 1px 1em #010101; /* Saf3.0+, Chrome */
          box-shadow: 1px 1px 1em #010101; /* Opera 10.5, IE 9.0 */
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

#container > header { font-family:Arial; overflow:hidden; }
#container > header .logo { float: left; width: 300px; height: 64px;
    background: transparent url('../images/logo3.png') no-repeat scroll 0 50%; }
#container > header .logo > a { display: block; width: 100%; height: 100%; text-indent:-9999em; }
#container > footer { color: #fff; font-size: 12px; margin: 10px 0; text-align:center; }
#footer-decor { height: 25px; margin: -25px 0 2em; background:url("../images/footer-decor-bg.png") repeat-y scroll 0 0 #E0E0E0;
    -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
    border: 1px solid #D2D2D2;
}

nav { clear: right; overflow: hidden; font-size: 11px; height:40px; margin-top:13px; position:relative; text-align:right; }
.menu { position:absolute; right:0; }
.menu li { background:none no-repeat scroll 0 50% transparent; float:left; height:25px; margin:0 5px 0 20px; padding-left:5px; position:relative; }
.menu li > i { background:none no-repeat scroll 100% 50% transparent; display:block; height:100%; position:absolute; right:-5px; top:0; width:5px; }
.menu li:hover { background-image:url('../images/menu_item.png'); }
.menu li:hover > i { background-image:url('../images/menu_item.png'); }
.menu .active { background-image:url('../images/menu_active.png'); }
.menu .active > i { background-image:url('../images/menu_active.png'); }
.menu a { color:#fff; font-weight:bold; line-height:25px; padding:0 10px; text-decoration:none; text-transform:uppercase; }
.clear { clear:both; }
.btn-image { text-align: left; text-indent: -9999em; } /* buttons that have text as images */
.left { float:left; }
.right { float:right; }
.grid-600 { width:600px } /* for aligning with form > section */
.grid-200 { width:212px } /* for aligning with form > section */
h1 { color:#0350A6; font-size:1.5em; font-weight:bold; }
h2 { margin: 0.2em 0; }
button { cursor:pointer; font-weight:bold; letter-spacing:0.05em; margin:10px; padding:0.5em 1em; }
a.btn:hover { text-decoration:none; }
.center { margin:0 auto; text-align:center; }
.down { margin-top: 38px; }
em { font-style:italic; }
form strong { font-weight:bold; }

/* main page */
.main-column { margin: 10px 20px; float: left; width: 45%; }
.main-block { margin: 10px; font-size: 11px; }
.main-block img { float: left; margin-right: 10px; }
.main-block h3 { color:#0350A6; font-size: 18px; }
.main-block p { line-height: 20px; margin: 10px 0 20px 0; color: #333; text-align:justify; }

.static { margin: 10px; font-size: 12px; }
.static h2 { font-size: 18px; }

.register .sub-plan { margin: 0; } /* override .sub-plan */
.register footer .errorlist { margin:0; padding:10px; font-weight:bold; }
.register .errorlist { color: red; font-size: 12px; margin-bottom: 6px; margin-left: 139px; }
.register button { margin: 10px; }
#id_card_cvv { width: 100px; }
#register-note { font-size:12px; }
#register-note h3 { color:#0350A6; font-size:15px; margin-bottom: 5px; }

/* generic forms style */
form > section { -moz-border-radius: 5px; background-color: #F1F7FE; border-color: #8F9AA7 #C1CAD5 #C1CAD5; border-right: 1px solid #C1CAD5; border-style: solid; border-width: 1px; margin-bottom: 20px; width: 600px; }
    form > section  > header { border-bottom: 1px solid #C1CAD5; min-height:1em; text-align:left; }
        form > section h2 { color: #0350A6; font-size: 18px; font-weight: bold; margin: 10px 10px 0; }
        form > section h3 { color: #011934; font-size: 11px; margin: 0 10px 10px; }
        form > section p { font-size: 11px; margin-left: 145px; }
    form > section  > div { background-color:#E3E9F2; border-bottom: 1px solid #C1CAD5; border-top: 1px solid #F3F6F9; padding: 8px; text-align:left; }
        form > section label { color:#29384C; float:left; font-family:Helvetica,Arial,sans-serif; font-size: 13px; font-weight:bold; line-height:34px; margin-right:0.7em; text-align: right; width: 130px; }
        form > section input,form > section textarea { -moz-border-radius:1px; background:white url(../images/background-signup-inputs.png) repeat-x scroll top; border:1px solid #8D9095; color:#29384C; height:20px; padding: 7px 5px 5px; width:426px; }
        form > section textarea { height:5em; vertical-align:top; }
        form > section select { font-size: 13px; margin:7px 0; }
    form > section  > footer { min-height: 1em; text-align:right; }
        form > section .confirm-result { color:#29384C; font-size:18px; font-weight:bold; line-height:30px; }
    form > section  > footer button { color:inherit; }
    form > section a { color: #0350A6; }
    form > section .errorlist { text-align:left; }
form > section .message { padding:0; }
#content .message { background-color:#FCFCCF; }
#content .message > p,.message > ul { border-color:#FFFFF7 #EAEAC3 #EAEAC3 #FFFFF7; border-style:solid; border-width:1px; font-size:12px; margin:0; padding:0.5em 1em; }
.instruction > li { display:inline-block; margin:4px 10px; }
.errorlist { color: red; font-size:0.8em; }

#amount { display:block; height: 20px; padding: 7px 5px 5px; }

#content h1 { margin-bottom:0.5em; }
#content p { margin-bottom:0.5em; }

/* this is based on .sub-plan */
.module { color:white; width: 225px; position: relative; margin-bottom:5px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    background: url('../images/plans_gradient3.jpg') repeat-x; }
.module > h2,.module > h3 { font-weight:bold; padding-top:5px; text-align:center; }
.module > p { font-size:12px; margin: 5px; }
.module > footer { padding-bottom: 1px; }
.module a { color:inherit; }

/* /upgrade */
.upgrade .cc-info.free .cc-data {
	opacity: 0.3;
  filter: alpha(opacity = 30);
  zoom: 1;
}
#planGrid {
  border: 1px solid #B0BCC1;
	background: url("../images/plans_gradient1.jpg") repeat-x scroll 0 0 transparent;
	color: #aaa;
	font-size: 14px;
  border-collapse: separate;
}
#planGrid tr > * {
  border-color:#EEEEEE #ccc #ccc #FEFEFE;
  border-style:solid;
  border-width:1px;
	padding: 4px 10px;
	text-align: center;
}
#planGrid tr > th {
  border-color:#56676F #2B3C43 #2B3C43 #56676F ;
	font-weight: bold;
}
#planGrid thead > tr > td {
  border-bottom-color:#8B9AA0;
}

#planGrid td {
  background-color: #F5F5F5;
  color: #333;
	vertical-align: top;
}
#planGrid h3 {
	color: black;
	font-weight: bold;
}
#planGrid .currentPlan {
	background: #EEFCFF;
	color: #333;
}
#planGrid .selectedPlan {
	background: #ffe;
	color: #000;
}
#planGrid .icon {
	margin: 4px auto;
}

/* plans page */
.sub-plan-container { overflow: hidden; margin: -12px -10px; padding: 10px 35px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    height: 390px; background: url('../images/plans_gradient1.jpg') repeat-x; }
.sub-plan-container .sub-plan { float: left; }
.sub-plan-promo { text-align: center; margin-top: 5px; }
.sub-plan-promo p { display: inline-block; padding: 8px 50px;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
    background-color: #141c1e; font-size: 20px;
    color: #fff; text-decoration: none; text-transform: uppercase; }

.sub-plan { margin: 20px; position: relative; }
.sub-plan h3 { color:white; font-size: 20px; font-weight:normal; }
.sub-plan .price { position: relative; left: -5px; padding: 5px 25px;
    width: 169px; height: 30px; font-size: 14px; color: #333; margin-top: 10px;
    background: url('../images/plans_stripe.png') no-repeat; }
.sub-plan big { font-weight: bold; }
.sub-plan ul { color: #eee; font-size: 13px; }
.sub-plan li { clear:both; margin:15px; }
.sub-plan li > * { float:left; }
.sub-plan label { font-weight: bold; width: 100px; }
.sub-plan p { padding: 0 20px; color: #ccc; font-size: 12px; }
.sub-plan a { display: block; width: 197px; height: 36px; margin: 14px;
    color: #333 !important; line-height: 36px; font-weight: bold; text-align: center;
    background: transparent url('../images/plans_button.png') no-repeat 0 0; }
.sub-plan a:hover { text-decoration:none; background-position:0 50%; }
.sub-plan a:active { background-position:0 100%; }
.sub-plan .icon { display: block; margin-right:9px; }
.icon-yes { background: url('../icons/icon_yes.png'); }
.icon-no { background: url('../icons/icon_no.png'); }

/* watch page: add form */
.add-watch { color: #1b3d42; margin: 10px 5px; position: relative; }
.add-watch form { padding: 5px; font-size: 12px; position: relative; }
.add-watch form > div { float: left; margin: 2px; min-width: 40px; }
.add-watch form label { display: block; }
.add-watch form input {
     -moz-border-radius: 2px; /* FF1+ */
  -webkit-border-radius: 2px; /* Saf3+, Chrome */
          border-radius: 2px; /* Opera 10.5, IE 9 */
  border:1px solid gray;
  padding: 2px; margin: 2px 0; }
#id_symbol { width: 68px; }
#id_low,#id_high { width: 44px; }
.add-watch form button { color:inherit; font-size:12px; margin:4px 0 0; text-transform:uppercase; }
.add-watch p.name { clear: left; color: #999; }
.add-watch .price { background-color:#eee; width: 60px; }
.add-watch .price-loader { background: url('../images/ajax-loader.gif') no-repeat;
    display: inline-block; margin-bottom: -2px; }
.add-watch .ui-widget-shadow { position: absolute; width: 100%; height: 100%; }

.plan-status { background: white; }
.plan-status .ui-icon { float: left; margin-right: 4px; }
.plan-status div { margin: 0.5em 5px 1em; font-size: 11px; color: #333; }
.plan-status #warn-limit { font-weight: bold; }
.plan-status a { color:#2AAFCE; }

/* watch page: item list */
.grid-watch { float:left; padding: 0 20px; }
.grid-watch tr>* { border-left:1px solid transparent; border-right:1px solid transparent; text-align: center; }
.grid-watch tr>.tab-active { width: 45px; }
.grid-watch tr>.tab-symbol { text-align: left; width: 170px; }
.grid-watch tr>.tab-lower { width: 75px; }
.grid-watch tr>.tab-price { width: 150px; }
.grid-watch tr>.tab-upper { width: 75px; }
.grid-watch tr>.tab-alerts { width: 40px; }
.grid-watch tr>.tab-remove { width: 50px; }
.grid-watch th a:hover { color: #99f; }

.grid-watch ul { margin: 5px 0; }
.grid-watch li { margin: 5px -10px; padding: 5px 5px; position: relative;
    border: 1px solid #eee; border-width: 1px 0; }
.grid-watch li:hover { background: #ffc; border-color: #cc9; }
.grid-watch .symbol { font-size: 24px; }
.grid-watch .editable { color: #999; cursor:pointer; }
.grid-watch .price { color: #333; font-weight: bold; text-align: center; }
.grid-watch .floater { position: absolute; right: -20px; top: 5px; padding: 0 5px;
    width: 100px; margin-right: -100px; font-size: 10px; border: 2px solid #c66; }

.grid-watch input { width: 50px; padding: 2px; text-align: center; border: 1px solid #ccc; }
.grid-watch .icon { float:left; vertical-align: sub; }
.icon-trash { background: url('../images/monitor_remove.png'); }
.icon-on { background: url('../images/monitor.png') no-repeat 50% 0; display:block; width: 26px; height: 26px; }
.icon-off { background: url('../images/monitor.png') no-repeat 50% 100%; display:block; width: 26px; height: 26px; }

/* watch page: design update */
header.grid-watch {

     -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;

color: #eee; margin: -10px -10px 0; overflow: hidden; width:831px;
    background: url('../images/monitor_header.png') repeat-x; }
header.grid-watch table { font-size: 11px; position:relative; left: 195px; height: 3em; }
header.grid-watch table th { border-left:1px solid #405D63; border-right:1px solid #405D63; }
header.grid-watch table th.nosort { color:#aaa; }
header.grid-watch table th:hover { background:#293A3F; }
header.grid-watch table th.nosort:hover { background:transparent; }
header.grid-watch table .tab-symbol > a:first-child { padding-left:5px; }
/*header.grid-watch table .tab-active  { visibility:hidden; }*/
#content header.grid-watch a { color: #eee; }

.grid-side { clear:both; float: left; width: 200px; height: 100%; margin-left: -10px;
    background-color: #F1F7FE; }
.grid-side > * { margin: 12px 8px; padding: 8px; border: 1px solid #8ac;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.grid-side h4 { font-size: 12px; font-weight: bold; padding: 2px 4px; }
.grid-side-footer {
  background-image: -moz-linear-gradient(top, #F1F7FE, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F1F7FE),color-stop(1, #ffffff)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#F1F7FE', EndColorStr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F1F7FE', EndColorStr='#ffffff')"; /* IE8 */
    border: 0 none;
    height: 3em;
    margin: 0;
    padding: 0;
}

.grid-watch .alert-email.false { background: url('../icons/alert_email_off.png'); opacity: 0.5; }
.grid-watch .alert-email.true { background: url('../icons/alert_email_on.png'); }
.grid-watch .alert-phone.false { background: url('../icons/alert_phone_off.png'); opacity: 0.5; }
.grid-watch .alert-phone.true { background: url('../icons/alert_phone_on.png'); }

#help-text { font-size:13px; padding:1em 0; width:600px; }
#help-text p {
  margin: 1em 0;
}

/* QA URLs: / /plans */
.main-stripe { background:url('/static/images/main_stripe_bg.png') repeat-x; border-top:1px solid #556c71; bottom:0; clear:both; height:74px; left:-12px; padding:0 10px; position:absolute; width:100%; }
.main-stripe a { width: 164px; height: 44px; margin: 14px 20px 0 40px; float: left;
    display: block; background: url('/static/images/main_signup.jpg') no-repeat; }
.main-stripe p { color: #ffa; font-size: 9px; margin: 24px; }

.main-stripe.plans { height: 50px; position:static; margin: 0 -10px; }
.main-stripe.plans p { font-size: 15px; line-height: 50px; height: 100%; position:static; margin: 0; text-align: center; white-space:nowrap; }
.main-stripe.plans p > img { margin: 0 0.5em; vertical-align: -20%; }


/* Tour page: /tour /help */
#tour section { clear:both; margin:0 0 1em; padding:0 0 2em; }
#tour section > header {
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff')"; /* IE8 */

  border-top:thin solid #bbb; height:3em; margin: 0 -10px;
}
#tour h3 { color:#0350A6; font-size: 18px; margin:0 10px 0.5em; }
#tour section p,#tour section ol { font-size:11px; line-height:1.5em; margin:0 2em 1.5em; text-align:justify; }
#tour section img { padding:0 20px; }
#tour ol > li { list-style: decimal outside; margin-left: 2em; padding-left: 1em; }

/* coming soon */
#comingSoon .main { border-right:1px solid #999; padding-right:1em; }
#comingSoon .side { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background:#F1F7FE; min-height:400px; padding:10px; }
#comingSoon .list { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background:#F1F7FE; border:1px solid #7EA5D5; font-size:1.2em; margin:1em auto; padding:2px; width:80%; }
#comingSoon input { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid gray; }
#comingSoon input[type=email] { background:url(../icons/alert_email_on.png) no-repeat 4px 50%; font-size:15px; height:27px; line-height:27px; margin:10px 0; padding:2px 2px 2px 26px; width:276px; }
#comingSoon input[type=email]:focus { background-color:#F1F7FE; }
#comingSoon input[type=submit] { color:inherit; font-weight:bold; letter-spacing:0.05em; margin:10px; padding:5px 10px; height:33px; background:#FB9400; }
#comingSoon input[type=submit]:hover { background-color:#fecb44; }
#ss-form { margin-bottom:2em; }
