Django==1.2
Fabric==0.9.0
Markdown==2.0.3
PyYAML==3.09
Werkzeug==0.5.1
django-annoying==0.7.4
django-debug-toolbar==0.8.1
django-extensions==0.4.1
django-registration==0.7
httplib2==0.6.0
ipython==0.10
pycheddar==0.9.3
pycrypto==2.0.1
simplejson==2.1.1
wsgiref==0.1.2
psycopg2
stomp.py==3.0.2
