<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}QuoteSentinel{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    {% block extrahead %}{% endblock %}
</head>
<body>
    <section id="container">
        <header>
            {% if user.is_authenticated %}
                <h1 class="logo"><a href="{% url monitor.views.monitor %}">Quote Sentinel</a></h1>
            {% else %}
                <h1 class="logo"><a href="{% url monitor.views.main %}">Quote Sentinel</a></h1>
            {% endif %}
            <nav>
                <ul class="menu">
                {% for view, label in menu %}
                    <li class="{% ifequal page view %}active{% endifequal %}">
                        <a href="/{{ view }}">{{ label }}</a>
                    <i></i>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div id="footer-decor"></div>
            &copy; {% now "Y" %} QuoteSentinel.com | <a href="{% url monitor.views.help %}">Help / Documentation</a> | <a href="{% url monitor.views.contact %}">Contact</a> | Email: <a href="mailto:support@quotesentinel.com">support@quotesentinel.com</a> | Phone: (312) 555-1212
        </footer>
    </section>
</body>
</html>
