<!DOCTYPE html>
<html>
<head>
    <title>Quote Sentinel : {% if title %}{{ title }}{% else %}Hands down the best SMS and email alerts for stock prices{% endif %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}js/site.js"></script>
    {% block extrahead %}{% endblock %}
    {% if not debug%}
      {% include "kiss_insights.html" %}
      {% include "google_analytics.html" %}
      {% include "getclicky_analytics.html" %}
    {% endif %}
</head>
<body>
    <section id="container">
        <header>
            {% if user.is_authenticated %}
                <h1 class="logo"><a href="{% url monitor.views.monitor %}">Quote Sentinel</a></h1>
            {% else %}
                <h1 class="logo"><a href="{% url monitor.views.main %}">Quote Sentinel</a></h1>
            {% endif %}
            <nav>
                <ul class="menu">
                {% for view, label in menu %}
                    <li class="{% ifequal page view %}active{% endifequal %}">
                        <a href="/{{ view }}">{{ label }}</a>
                        <i></i>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}
        <footer>
            <div id="footer-decor"></div>
            &copy; {% now "Y" %} QuoteSentinel.com | <a href="{% url monitor.views.help %}">Help / Documentation</a> | <a href="{% url monitor.views.contact %}">Contact</a> | <a href="{% url terms_of_service %}">Terms of Service</a> | <a href="{% url monitor.views.privacy %}">Privacy policy</a>
        </footer>
        {% endblock footer %}
    </section>
</body>
</html>
