<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}QuoteSentinel{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="container">
        <div id="header">
            <h1 class="logo"></h1>
            <div class="info">
            {% if user.is_authenticated %}
                You are logged in as <b>{{ user }}</b><br/>
                <a href="{% url monitor.views.profile %}">View Profile</a> |
                <a href="{% url monitor.views.signout %}">Log Out</a>
            {% else %}
                You are not authenticated<br/>
                <a href="{% url monitor.views.signin %}">Log In</a>
            {% endif %}
            </div>
            <ul class="menu">
            {% for view, label in menu %}
                <li class="{% ifequal page view %}active{% endifequal %}">
                    <a href="/{{ view }}">{{ label }}</a>
                    <i></i>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <div id="footer-decor"></div>
            &copy; {% now "Y" %} QuoteMonitor.com
        </div>
    </div>
</body>
</html>
