{% extends "base.html" %}

{% block content %}
<div id="comingSoon" class="static">
    <h1>Revolutionize the way you watch your stocks</h1>

<div class="right"><a href="http://twitter.com/quotesentinel"><img src="http://www.twitterbuttons.com/images/lbn/twitterbutton-0204.gif" title="By: TwitterButtons.com" width="120" height="90" alt="Follow Us On Twitter" /></a></div>

<div class="grid-600">
<p>Quote Sentinel is a tool to help you monitor your stocks more efficiently.</p>
<p class="center list">Have you ever needed to step away from your desk for a minute, but don't want to get disconnected from the markets?</p>
<p class="center list">Do you ever find yourself obsessively refreshing stock prices to see if your stock reaches the price you want to sell at?</p>
<p class="center list">Have you ever thought "I'll buy when the market goes back down"?</p>
<p>Use Quote Sentinel to send you text message or email alerts whenever a stock prints the price that you choose.  You tell Quote Sentinel
the stock your watching and the price you want to be notified at, then as soon as that price trades, Quote Sentinel notifies you
immediately so you can be the first to take action!</p>
</div>

<h1>Sign up to become a beta tester and get one month of service FREE.</h1>

<form action="https://spreadsheets.google.com/formResponse?formkey=dFFOT2d5WGtkb3QtZ0tKbVNGSllVNnc6MQ&amp;ifq" method="POST" id="ss-form">
<div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Your email address
</label>
<input type="email" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
<label class="ss-q-help" for="entry_0">Don&#39;t worry! We will never share this information with anyone.  </label>
<br/>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">

<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit"></div></div></form>

</div>
{% endblock %}

{% block footer %}<div id="footer-decor"></div>{% endblock footer %}
