{% extends "base.html" %}
{% block extrahead %}
<script>
$(function(){
  $('#contact-form').submit(function(){
    $('#hidden_iframe').load(function(){
      $('#contact-form').hide();
      $('#contact-form-feedback').show();
    });
  });
});
</script>
{% endblock %}

{% block content %}
    <div class="left grid-600 center" style="margin-bottom:20px;">
    <h1><span class="stripes">Keep in touch</span></h1>
    <h2>Talk to the team at Quote Sentinel</h2>
    </div>
    <div class="right">
      <div class="module">
        <h2>Did you need...</h2>
        <p class="center"><a href="{% url monitor.views.plans %}">Pricing info?</a></p>
        <p class="center"><a href="{% url monitor.views.tour %}">Product features?</a></p>
        <p class="center"><a href="{% url monitor.views.register %}">To sign up?</a></p>
        <footer></footer>
      </div>
      <div class="module">
        <h2>Contact info</h2>
        <p class="center"><a href="mailto:support@quotesentinel.com">support@quotesentinel.com</a></p>
        <p class="center">phone: (832) 264-6644</p>
        <p class="center">address: 141 W Jackson Blvd<br /> Chicago IL 60604</p>
        <footer></footer>
      </div>
    </div>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
    <form id="contact-form" style="clear:left;" method="get" target="hidden_iframe">
      <section>
        <header>
          <h2>Send us a message</h2>
          <h3></h3>
        </header>
        <div>
          <label>Name</label>
          <input name="name" />
        </div>
        <div>
          <label>Email</label>
          <input name="email"/>
        </div>
        <div>
          <label>Message</label>
          <textarea name="message"></textarea>
        </div>
        <footer>
          <button type="submit">Submit</button>
        </footer>
      </section>
    </form>
    <div id="contact-form-feedback" class="message grid-600" style="clear:left; display:none; margin-bottom:2em;">
      <p>Thanks for your feedback!</p>
      {% if user.is_authenticated %}
        <p>Go to your <a href="{% url monitor.views.monitor %}">Quote Sentinel Dashboard</a>.</p>
      {% else %}
        <p>Go back to the <a href="{% url monitor.views.main %}">Quote Sentinel home page</a>.</p>
      {% endif %}
    </div>
    
{% endblock %}
