{% extends "base.html" %}

{% block content %}
    <div class="left grid-600 center">
    <h1><span class="stripes">Keep in touch</span></h1>
    <h2>Talk to the team at Quote Sentinel</h2>
    </div>
    <div class="right">
      <div class="module">
        <h2>Did you need...</h2>
        <p class="center"><a href="{% url monitor.views.plans %}">Pricing info?</a></p>
        <p class="center"><a href="{% url monitor.views.tour %}">Product features?</a></p>
        <p class="center"><a href="{% url monitor.views.register 'trader' %}">To sign up?</a></p>
        <footer></footer>
      </div>
      <div class="module">
        <h2>Contact info</h2>
        <p class="center"><a href="mailto:support@quotesentinel.com">support@quotesentinel.com</a></p>
        <p class="center">phone: (312) 555-1212</p>
        <p class="center">address: 141 W Jackson Blvd<br /> Chicago IL 60604</p>
        <footer></footer>
      </div>
    </div>
    <form style="clear:left;">
      <section>
        <header>
          <h2>Send us a message</h2>
          <h3></h3>
        </header>
        <div>
          <label>Name</label>
          <input/>
        </div>
        <div>
          <label>Email</label>
          <input/>
        </div>
        <div>
          <label>Message</label>
          <textarea></textarea>
        </div>
        <footer>
          <button type="submit">Submit</button>
        </footer>
      </section>
    </form>
{% endblock %}
