{% extends "base.html" %}

{% block content %}
<div class="static">
    <div class="left">
    <h1>Keep in touch</h1>
    <h2>Talk to the team at Quote Sentinel</h2>
    </div>
    <div class="right">
      <div class="module">
        <h2>Did you need...</h2>
        <p class="center">Pricing info?<p>
        <p class="center">Product features?<p>
        <p class="center">To sign up?<p>
      </div>
      <div class="module">
        <h2>Our info</h2>
        <p>support@quotesentinel.com</p>
        <p>phone: (312) 555-1212</p>
        <p>To sign up?</p>
      </div>
      <div class="module">
        <h2>About us</h2>
        
      </div>
    </div>
    <form style="clear:left;">
      <section>
        <header>
          <h2>Send us a message</h2>
          <h3></h3>
        </header>
        <div>
          <label>Name</label>
          <input/>
        </div>
        <div>
          <label>Email</label>
          <input/>
        </div>
        <div>
          <label>Company</label>
          <input/>
        </div>
        <div>
          <label>Website</label>
          <input/>
        </div>
        <div>
          <label>Phone</label>
          <input/>
        </div>
        <div>
          <label>Message</label>
          <textarea></textarea>
        </div>
        <footer>
          <button type="submit">Submit</button>
        </footer>
      </section>
    </form>
</div>
{% endblock %}
