{% extends "base.html" %}

{% block content %}
<div class="static">
    <h2>Getting Started</h2>
    welcome to quotesentinel.

<br />
<br />
    read our <a href="{% url monitor.views.help %}">reference guide</a> or go straight to your <a href="{% url monitor.views.monitor %}">dashboard</a>.
<br />
<br />

    Quick guide:
    set a pricewatch to bracket stocks you're interested and receive email or SMS alerts anytime your stock trades there.
<br />

    [insert a picture of a pricewatch bar, with arrows describing each element]

</div>
{% endblock %}
