<!-- KISSinsights for quotesentinel.com -->
<script type="text/javascript">
  var _kiq = _kiq || [];
  (function(u){
    var s = document.createElement('script'), f = document.getElementsByTagName('script')[0];
    s.type = 'text/javascript'; s.async = true;
    s.src = '//s3.amazonaws.com/j.kissinsights.com/u/' + u + '.js?' + (5*Math.floor(new Date().getMinutes()/5));
    f.parentNode.insertBefore(s, f);
  })('4669/d7ceb6d10fc12c544967586f71aff2e54a15621c');
</script>

<script type="text/javascript" charset="utf-8">
_kiq.push(['identify', '{{ user.username }}']);
</script>
