{% extends "base.html" %}

{% block content %}
<form method="post">
  <section class="center down">
    <header>
      <small class="right" style="padding-right:8px;"><a href="{% url django.contrib.auth.views.password_reset %}">forget your password?</a></small>
      <h2>Log In</h2>
      <h3></h3>
    </header>
    <div>
        <label for="id_email">E-mail</label>
        <input type="text" autofocus name="email" id="id_email" value="{{ email }}"/>
    </div>
    <div>
        <label for="id_password">Password</label>
        <input type="password" name="password" id="id_password"/>
    </div>
    {% if error %}
    <div class="errorlist">Incorrect email or password</div>
    {% endif %}
    <footer>
      <small>
      </small>
      <button type="submit">Log in</button>
    </footer>
  </section>
</form>
<p class="center" style="margin-top:1em;">Don't have an account? View our <a href="{% url monitor.views.plans %}">plans and sign up</a>.</p>
{% endblock %}
