
<div class="main-column" style="width: 54%;">
    <div class="main-block">
        <img src="/static/icons/front/question.png"/>
        <h3>What is Quote Sentinel?</h3>
        <p>Quote Sentinel is a <b>web based stock monitoring</b> application that watches your stocks and <b>notifies you</b> whenever your stocks trade to critical prices.</p>
        <p>You can select which stocks you want to monitor and define the critical price change for each stock. Once your stock hits that self-defined high or low you will <b>automatically receive an alert</b> so that you can take action immediately no matter where you are!</p>
        <p>For example, let’s say you’re interested in buying AAPL (Apple) stock it if it ever goes back down to $200. Set an alert in your profile and you’ll be sent an instant alert when it reaches that low so you can be one of the first to take action!</p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/dollar.png"/>
        <h3>What does Quote Sentinel cost?</h3>
        <p>Quote Sentinel has a variety of plans to fit everyone's needs. You can upgrade, downgrade, or cancel at any time with no hidden fees. All pay accounts include a 7-day free trial. <a href="{% url monitor.views.plans %}">Sign up now!</a></p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/heart.png"/>
        <h3>Why do customers love Quote Sentinel?</h3>
        <p>Quote Sentinel helps improve your productivity and flexibility – As an investor, you want to know when the market is actually moving; most of the time it’s doing nothing. Since Quote Sentinel sends you immediate updates based on the your predefined price changes, you no longer have to continuously refresh your prices and you won’t miss those opportunities to act at the right time.</p>
    </div>
</div>

<div class="main-column" style="width: 36%;">
    <div class="main-block">
        <img src="/static/icons/front/mail.png"/>
        <h3>Instant Notifications</h3>
        <p>Set up <b>email or text message</b> alerts so you'll know as soon as your stock hits your pre-defined  price. With text message alerts, you can receive alerts while on the go. Link to the page where you can set up notifications.</p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/realtime.png"/>
        <h3>Real-time Prices and Custom Monitoring</h3>
        <p>The Quote Sentinel <a href="{% url monitor.views.monitor %}">dashboard</a> displays all your stock prices in real-time and lets you easily add/delete alerts or modify existing alerts.</p>
    </div>
</div>
<div class="clear"></div>
