{% extends "base.html" %}

{% block extrahead %}
<style>
.main {
    background: transparent url('/static/images/main_image.jpg') no-repeat scroll 50% -3px;
     -moz-border-radius: 3px; /* FF1+ */
  -webkit-border-radius: 3px; /* Saf3+, Chrome */
          border-radius: 3px; /* Opera 10.5, IE 9 */
   color: white;
    height: 313px;
    margin: -10px;
    position: relative;
}
.main > h2 {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    left: 32px;
    line-height: 38px;
    position: absolute;
    top: 36px;
    width: 333px;
}
.main > h3 {
    font-family: Arial;
    font-size: 15px;
    left: 32px;
    line-height: 1.5em;
    position: absolute;
    top: 132px;
    width: 318px;
}
.main-screen {
    background: url('/static/images/main_screenshot.jpg') no-repeat;
    height: 254px;
    left: 382px;
    position: absolute;
    top: 32px;
    width: 457px;
    z-index: 100;
}
</style>
{% endblock %}

{% block content %}
<section class="main">
    <h2>The Best Way To Monitor Your Stocks</h2>
    <h3>Quote Sentinel sends you text message or email notifications when your stock moves.</h3>
    <div class="main-screen"></div>
    <div class="main-stripe">
        <a class="btn-image" href="{% url monitor.views.plans %}">Sign Up Now</a>
        <p>It only takes 30 seconds<br/>and it's 100% FREE !</p>
    </div>
</section>

{% include "main_include.html" %}
{% endblock %}
