
<div class="main-column n1">
    <h2>ABOUT US</h2>
    <div class="main-block">
        <img src="/static/icons/front/question.png"/>
        <h3>What is QUOTE Sentinel?</h3>
        <p>QUOTE Sentinel is a web based stock monitoring application that watches your stocks and
           notifies you whenever your stocks trade to critical prices &ndash; that way you can focus
           on what you do best onstead of having to constantly refresh all your stocks.</p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/dollar.png"/>
        <h3>What does QUOTE Sentinel cost?</h3>
        <p>QUOTE Sentinel has a variety of plans to fit everyone's needs. You can upgrade, downgrade,
           or cancel at any time with no hidden fees. All pay accounts include a 30-day free trial.
           Sign up now!</p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/heart.png"/>
        <h3>Why do customers love QUOTE Sentinel?</h3>
        <p>QUOTE Sentinel helps improve your productivity &ndash; As an investor, you want to know
           when the market is actually moving; most of the time its doing nothing. The old solution
           for most people was to obsessively recheck stock quotes, dividing your attention and
           wasting time even though nothing was happening.</p>
        <p>QUOTE Sentinel reliably sends push notifications so you'll be notified immediately. You
           won't have to continuously refresh your prices and you can spend more time doing stock
           research.</p>
    </div>
</div>

<div class="main-column n2">
    <h2>FEATURES</h2>
    <div class="main-block">
        <img src="/static/icons/front/mail.png"/>
        <h3>Instant Notifications</h3>
        <p>Set up email or text message alerts so you'll know as soon as your stock hits an important
           price level. With text message alerts, you don't even have to be at your computer to watch
           your stocks.</p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/tools.png"/>
        <h3>Custom Monitoring</h3>
        <p>Lets say you're interested in buying AAPL stock if it ever goes back down to $200. Set an
           alert and if it ever breaches that boundary, you'll receive an instant notification so
           you can act on it.</p>
    </div>
    <div class="main-block">
        <img src="/static/icons/front/realtime.png"/>
        <h3>Real-time Prices</h3>
        <p>The QUOTE Sentinel dashboard displays all your stock prices in real-time and lets you
           easily add additional alerts or modify existing alerts.</p>
    </div>
</div>
