{% extends "base.html" %}

{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script src="{{ MEDIA_URL }}js/monitor.js"></script>
{% endblock %}

{% block content %}
<header class="grid-watch">
    <table>
        <th>Symbol</th>
        <th>Lower</th>
        <th>Price</th>
        <th>Upper</th>
        <th class="nosort">Alerts</th>
        <th class="nosort"></th>
    </table>
</header>

<div class="grid-side">
    <div class="add-watch">
        <h4>ADD STOCK</h4>
        <form action="{% url monitor.views.monitor_add %}" method="post">
            <div>
                <label for="id_symbol">Symbol</label>
                <input type="text" name="s" id="id_symbol" size="8"/>
            </div>
            <div>
                <label>Price</label>
                <div class="icon price-loader" style="display:none;"></div>
                <input class="price" type="text" disabled />
            </div>
            <br/>
            <p class="name">&nbsp;</p>
            <div>
                <label for="id_low">Low</label>
                <input type="text" name="l" id="id_low" size="4"/>
            </div>
            <div>
                <label for="id_high">High</label>
                <input type="text" name="h" id="id_high" size="4"/>
            </div>
            <br/>
            <button type="submit">
                <span>Add watch</span>
            </button>
        </form>
    </div>
    <div class="plan-status">
        <h4>STATUS</h4>
        <span></span>
        <div>
            You have <span id="watch-count">{{ watchcount }}</span> active pricewatch{{ watchcount|pluralize:"es"}}.
        </div>
        {% with "style='display:none;'" as hidden %}
        <div id="warn-limit" {% if not near_limit %}{{ hidden }}{% endif %}>
            <span id="watch-near" {% if reached_limit %}{{ hidden }}{% endif %}>You are nearing your plan limit</span>
            <span id="watch-limit" {% if not reached_limit %}{{ hidden }}{% endif %}>You have reached your limit</span>
            of <span id="watch-max">{{ plan.max_price_watches|default:"???" }}</span> pricewatches.
            <a href="{% url monitor.views.upgrade %}">Upgrade</a>
        </div>
        {% endwith %}
        <div id="alert-count">
            You have received {{ profile.received_email_alerts }} email alert{{ profile.received_email_alerts|pluralize}}
            and {{ profile.received_phone_alerts }} text alert{{ profile.received_phone_alerts|pluralize }} this month.
        </div>
        <div>
            {% if not user.get_profile.phone_verified %}
                <p><img class="left" src="{{ MEDIA_URL }}/icons/warning.png">To receive text message alerts, you must first <a href="{% url monitor.views.profile %}">verify your cell phone number in your settings</a>.</p>
            {% endif %}
        </div>
        <div>
            {% if not user.email %}
                <p>To receive email alerts, you must <a href="{% url monitor.views.profile %}">set a valid alert email address in your settings</a>.</p>
            {% endif %}
        </div>
    </div>
    <div class="grid-side-footer">
    </div>
</div>

<div class="grid-watch">
   {% if not watchlist %}
       <div id="help-text">
           <p>Set a QuoteAlert by filling in the form on the left.</p>
           <p>To find out more, read our short <a href="">"Getting Started" guide</a> on how to effectively manage your QuoteAlerts.</p>
       </div>
   {% endif %}
    <ul class="ui-sortable">
        {% for item in watchlist %}
            <li id="w{{ item.id }}">
                <table>
                <tr>
                    <th scope="row" class="symbol">
                        <a href="{% url monitor.views.monitor_edit item.id 'active' %}"
                        class="icon {% if item.active %}icon-on{% else %}icon-off{% endif %} toggle"></a>
                        {{ item.instrument }}
                    </th>
                    <td><div class="editable lower">{{ item.lower_bound|default:"---" }}</div></td>
                    <td><div class="price">{{ item.instrument.last_price }}</div></td>
                    <td><div class="editable upper">{{ item.upper_bound|default:"---" }}</div></td>
                    <td>
                        <a href="{% url monitor.views.monitor_edit item.id 'alert_phone' %}" title="Send phone alert"
                            class="icon alert-phone {% if item.alert_phone %}true{% else %}false{% endif %}">
                        </a><a href="{% url monitor.views.monitor_edit item.id 'alert_email' %}" title="Send email alert"
                            class="icon alert-email {% if item.alert_email %}true{% else %}false{% endif %}">
                        </a>
                    </td>
                    <td><a href="{% url monitor.views.monitor_del item.id %}" class="icon icon-trash remove"></a></td>
                </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
