{% extends "base.html" %}

{% block content %}
<div class="sub-plan-container">
    <div class="sub-plan-promo">
        <a href="{% url monitor.views.register 'free' %}">Start your free 30-day trial today!</a>
    </div>
{% for plan in plans %}
    {% include "plan_include.html" %}
{% endfor %}
    <div class="sub-plan-bottom">
    </div>
</div>
<div class="main-stripe plans">
<p>Or, choose our Free Personal Plan (3 estimates and 1 invoice per month). No credit card required.<img src="{{ MEDIA_URL }}/images/free-plan-arrow.png"/></p>
</div>
<div class="main-column">
    <div class="main-block">
        <h3>Do I need a credit card to register?</h3>
        <p>Nope. We offer a free personal plan which won't require a credit card to get you started.
           You will need a credit card to take the 30-day free trial on a paid account, but your
           card won't be billed until the trial period is up and you've renewed the account.</p>
    </div>
    <div class="main-block">
        <h3>How long can I use the free account for before I have to upgrade?</h3>
        <p>You can use the free account for as long as you please, and we'll never bother you about
           upgrading. We offer a variety of plans that we think will suit everyone from freelancers
           to large companies.</p>
    </div>
</div>

<div class="main-column">
    <div class="main-block">
        <h3>What kind of commitment am I making?</h3>
        <p>QuoteSentinel is a pay-as-you-go service, so you're free to cancel your subscription whenever
           you'd like. If you cancel in the middle of the month, you'll be charged for that month,
           but we won't subject you to any annual contracts or additional fees.</p>
    </div>
    <div class="main-block">
        <h3>What forms of payment do you accept?</h3>
        <img src="/static/images/plans_cc.png"/>
        <p>We currently accept Visa and Mastercard. At this time, we are only accepting orders
           online and cannot receive payment via PayPal or check.</p>
    </div>
</div>
{% endblock %}
