<div class="sub-plan">
    <h3>{{ plan.name }}</h3>
    <div>
    <div class="price">
        <big>${{ plan.billing_period_price }}</big>/month
    </div>
    <ul>
        <li>
            <label>Monitors</label>
            <em>{% if plan.max_price_watches %}{{ plan.max_price_watches }}{% else %}unlimited{% endif %}</em>
        </li>
        <li>
            <label>Email alerts</label>
            <div class="icon {% if plan.allow_email_alerts %}icon-yes{% else %}icon-no{% endif %}"></div>
            {% if plan.limit_email_alerts %}(max {{ plan.limit_email_alerts }}){% endif %}
        </li>
        <li>
            <label>SMS alerts</label>
            <div class="icon {% if plan.allow_phone_alerts %}icon-yes{% else %}icon-no{% endif %}"></div>
            {% if plan.limit_phone_alerts %}(max {{ plan.limit_phone_alerts }}){% endif %}
        </li>
    </ul>
        {{ plan.description|linebreaks }}
    {% if not form %}
        <a href="{% url monitor.views.register plan.name|slugify %}">Subscribe</a>
    {% endif %}
    </div>
</div>
