{% extends "base.html" %}

{% block content %}

<div class="module right">
<p>You have the {{ user.get_profile.plan.name }} plan for ${{ user.get_profile.plan.billing_period_price }}/month.</p>
<p class="center"><a href="{% url monitor.views.upgrade %}">Modify your plan</a></p>
<p class="center"><a href="{% url monitor.views.close_account %}">Close your account</a></p>
<footer></footer>
</div>

<form method="post">
  <section>
    <header>
      <h2>Profile settings</h2>
      <h3>for <strong>{{ user.username }}</strong></h3>
    </header>
    <div>
        <label for="id_email">Alert email</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div>
        <label for="id_phone">Alert phone</label>
        {{ form.phone }}
        {{ form.phone.errors }}
    </div>
    {% if profile.phone_number and not form.phone.errors %}
    <div class="message">
        {% if profile.phone_verified %}
            Your phone number is VERIFIED.
        {% else %}
            <p>Your phone number is UNVERIFIED. You must verify it in order to receive text message alerts.</p>
            <ul class="instruction">
              <li>1. <a href="{% url monitor.views.send_phone_activation %}">Request an activation key</a></li>
              <li>2. Wait for text message.</li>
              <li>3. <a href="{% url monitor.views.verify %}?n={{ profile.phone_number }}">Enter activation key</a></li>
            </ul>
            <p>Read the <a href="{% url monitor.views.help %}">guide</a> for more help with activating your cell phone.</p>
        {% endif %}
    </div>
    {% endif %}
    <footer>
      <button type="submit">Save settings</button>
    </footer>
  </section>
</form>
<form method="post">
  <section>
    <header>
      <h2>Change your password</h2>
      <h3>
{% if updated_pass %}
        <div class="status">Your password was updated</div>
{% endif %}
      </h3>
    </header>
    <div>
        <label for="id_old_password">Old password</label>
        {{ form_p.old_password }}
        {{ form_p.old_password.errors }}
    </div>
    <div>
        <label for="new_password1">New password</label>
        {{ form_p.new_password1 }}
        {{ form_p.new_password1.errors }}
    </div>
    <div>
        <label for="new_password2">Confirm password</label>
        {{ form_p.new_password2 }}
        {{ form_p.new_password2.errors }}
    </div>
    <footer>
      <button type="submit">Change password</button>
    </footer>
  </section>
</form>

{% endblock %}
