{% extends "base.html" %}

{% block content %}
<form method="post" class="basic">
    <h2>Profile settings</h2>
    <div>
        <b>{{ user.username }}</b>
    </div>
    <div>
        <label for="id_email">Alert email</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div>
        <label for="id_phone">Alert phone</label>
        {{ form.phone }}
        {{ form.phone.errors }}
    </div>
    {% if profile.phone_number and not form.phone.errors %}
    <div>
        {% if profile.phone_verified %}
            Your phone number is VERIFIED.
        {% else %}
            Your phone number is UNVERIFIED.
            <a href="{% url monitor.views.verify %}?n={{ profile.phone_number }}">Activate now</a>
        {% endif %}
    </div>
    {% endif %}
    <button type="submit">Edit settings</button>
</form>

You are currently subscribed to the {{ user.get_profile.plan.name }} plan for {{ user.get_profile.plan.billing_period_price }} per month. <a href="{% url monitor.views.upgrade %}">Modify your plan</a>.
<pre>
allow password change here as well
</pre>
{% endblock %}
