{% extends "base.html" %}

{% block content %}
<div class="static">
    <h1>Quote Sentinel Refund Policy</h1>

    <h2>30 days free on a new pay account</h2>
    <p>Quote Sentinel offer a free 30-day trial on new pay accounts (Investor, Trader, Professional). Upgrades from free accounts do not qualify for the free 30-day trial.
    If you upgrade from a free to a paying account you’ll be charged for your first month when you upgrade.</p>

    <h2>Cancel within the first 30 days and you won’t be charged</h2>
    <p>If you cancel your paid account before you are billed 30 days after your original signup then you won’t be charged.</p>

    <h2>Cancel after 30 days and you won’t be charged again</h2>
    <p>Once you cancel you won’t be charged again, but you are responsible for whatever charges have already been incurred for the current billing period. For example, if your billing cycle is on the 18th of every month, and you cancel on the 24th, you’ll still have to pay for the current month, but you won’t be charged again after that.</p>

    <h2>How do I cancel my account?</h2>
    <p>You can cancel your account at any time by logging into your account and selecting the “Settings” tab in the upper right part of the page. Once you are on the Settings page, click the “Close my account” link.</p>

</div>
{% endblock %}
