{% extends "base.html" %}

{% block content %}
<form method="post" class="register">
  <div class="right">
  {% include "plan_include.html" %}
  </div>
    <section>
      <header>
        <h2>Registration Details</h2>
        <h3></h3>
      </header>
      <div>
          {{ form.username.errors }}
          <label for="id_username">E-mail</label>
          {{ form.username }}
          <p>We hate spam as much as you do.  We will never share your email with any third party. Read our <a href="{% url monitor.views.privacy %}">privacy policy</a>.</p>
      </div>
      <div>
          {{ form.password1.errors }}
          <label for="id_password1">Password</label>
          {{ form.password1 }}
      </div>
      <div>
          {{ form.password2.errors }}
          <label for="id_password2">Password (repeat)</label>
          {{ form.password2 }}
      </div>
      <footer>
      </footer>
    </section>

    {% if not form.free %}
    <div id="register-note" class="right grid-200">
      <h3>We accept the following:</h3>
      <img src="/static/images/plans_cc.png" alt="" />
      <p style="margin-top: 10px;">Having trouble? <a href="{% url monitor.views.contact %}">Contact Us</a></p>
    </div>
    <section>
      <header>
        <h2>Payment Details</h2>
        <h3>We currently accept Visa and MasterCard. Your 30-day free trial starts today.<br>
									<b>Your card won't be billed unless you keep your account open past the 30-day trial.</b>
				</h3>
      </header>
      <div>
          {{ form.card_holder.errors }}
          <label for="id_card_holder">Name on card</label>
          {{ form.card_holder }}
      </div>
      <div>
          {{ form.card_number.errors }}
          <label for="id_card_number">Card number</label>
          <input type="text" maxlength="20" name="card_number" id="id_card_number" autocomplete="off"/>
      </div>
      <div>
          <label for="id_card_expires_month">Expires on</label>
          {{ form.card_expires_month }}
          {{ form.card_expires_year }}
      </div>
      <div>
          {{ form.billing_zip_code.errors }}
          <label for="id_card_expires_month">Billing zip code</label>
          {{ form.billing_zip_code }}
      </div>
      <footer>
          <div class="errorlist">
          {{ form.errors.CC }}
          </div>
      </footer>
    </section>

    <div class="right grid-200" style="font-size: 12px;">
        <h3>View our <a href="{% url refund %}">Refund/Cancellation</a> policies.</h3>
    </div>
    {% endif %}

    <section>
      <header>
        <h2>Confirm Your Account Details</h2>
        <h3>If everything looks good, click the button below to get started.</h3>
      </header>
      <div>
        <label>Your Plan:</label><span class="confirm-result">{{ plan.name }}</span>
      </div>
      <div>
        <label>Price:</label><span class="confirm-result">${{ plan.billing_period_price }}/Month</span>
      </div>
      <footer><button type="submit">Create my account</button></footer>
    </section>
</form>
{% endblock %}
