{% extends "base.html" %}

{% block content %}
<form method="post" class="register">
  <div class="right">
  {% include "plan_include.html" %}
  </div>
    <section>
      <header>
        <h2>Registration Details</h2>
        <h3></h3>
      </header>
      <div>
          {{ form.username.errors }}
          <label for="id_username">E-mail</label>
          {{ form.username }}
          <p>We hate spam as much as you do.  We will never share your email with any third party. Read our <a href="{% url monitor.views.privacy %}">privacy policy</a>.</p>
      </div>
      <div>
          {{ form.password1.errors }}
          <label for="id_password1">Password</label>
          {{ form.password1 }}
      </div>
      <div>
          {{ form.password2.errors }}
          <label for="id_password2">Password (repeat)</label>
          {{ form.password2 }}
      </div>
      <footer>
      </footer>
    </section>

    {% if not form.free %}
    <section>
      <header>
        <h2>Payment details</h2>
        <h3></h3>
      </header>
      <div>
          {{ form.card_holder.errors }}
          <label for="id_card_holder">Name on card</label>
          {{ form.card_holder }}
      </div>
      <div>
          {{ form.card_number.errors }}
          <label for="id_card_number">Card number</label>
          {{ form.card_number }}
      </div>
      <div>
          <label for="id_card_expires_month">Expires on</label>
          {{ form.card_expires_month }}
          {{ form.card_expires_year }}
      </div>
      <div>
          {{ form.card_cvv.errors }}
          <label for="id_card_cvv">CVV code</label>
          {{ form.card_cvv }}
      </div>
      <div>
          <label for="id_card_expires_month">Billing zip code</label>
          {{ form.billing_zip_code }}
      </div>
      <footer>
          <div class="errorlist">
          {{ form.errors.CC }}
          </div>
      </footer>
    </section>
    {% endif %}

    <section>
      <header>
        <h2>Confirm Your Account Details</h2>
        <h3>If everything looks good, click the button below to get started.</h3>
      </header>
      <div>
        <label>Your Plan:</label><span class="confirm-result">{{ plan.name }}</span>
        <label>Price:</label><span class="confirm-result">${{ plan.billing_period_price }}/Month</span>
      </div>
      <footer><button type="submit">Register account</button></footer>
    </section>
</form>
{% endblock %}
