{% extends "base.html" %}

{% block content %}
<div class="static">
<h2>ACCEPTANCE OF TERMS AND CONDITIONS</h2>

<p>By using this site (the "Site"), you ("you" or the "User") agree to the
terms and conditions that we (EZL, LLC d/b/a "Quote Sentinel") have
provided. If you do not wish to agree to these terms and conditions (the "Terms
of Use" or "Agreement"), please refrain from using the Site.</p>

<h4>I.TERMS OF USE</h4>

<dl>
<h2>1. Purpose.</h2>

<dd>
<p>The Site provides an interactive online service operated by Quote Sentinel on the
World Wide Web of the Internet (the "Web"), consisting of information services,
content and transaction capabilities facilitated through Quote Sentinel, providing
online and cellular phone notification services.
</p>

<p>This Agreement sets forth the terms and conditions that apply to the use of
this Site by the User. By using this Site (other than to read this Agreement
for the first time), User agrees to comply with all of the terms and conditions
hereof. The right to use this Site is personal to the User and is not
transferable to any other person or entity. User shall be responsible for
protecting the confidentiality of User's password(s), if any. User acknowledges
that, although the Internet is often a secure environment, sometimes there are
interruptions in service or events that are beyond the control of Quote Sentinel, and
Quote Sentinel shall not be responsible for any data lost while transmitting
information on the Internet. While it is Quote Sentinel's objective is to make the
Site accessible 24 hours per day, 7 days per week, the Site may be unavailable
from time to time for any reason including, without limitation, routine
maintenance. You understand and acknowledge that due to circumstances both
within and outside of the control of Quote Sentinel, access to the Site may be
interrupted, suspended or terminated from time to time.</p>

<p>Quote Sentinel shall have the right at any time to change or discontinue any
aspect or feature of the Site, including, but not limited to, content, hours of
availability and equipment needed for access or use. Further, Quote Sentinel may
discontinue disseminating any portion of information or category of
information, may change or eliminate any transmission method and may change
transmission speeds or other signal characteristics.</p>

<p>Quote Sentinel provides strictly notification services based on user defined
parameters. Quote Sentinel uses third party data providers and makes no guarantees regarding the
timeliness or reliability of such data</p>

</dd>

<h2>2. Modified Terms.</h2>

<dd><p>Quote Sentinel reserves the right at all times to discontinue or modify any of
our User Agreement and or our Privacy Policy as we deem necessary or desirable
without prior notification to you. Such changes may include, among other
things, the adding of certain fees or charges. We suggest to you, therefore,
that you re-read this important notice containing our User Agreement and
Privacy Policy from time to time in order that you stay informed as to any such
changes. If we make changes to our User Agreement and Privacy Policy and you
continue to use our Site, you are impliedly agreeing to the User Agreement and
Privacy Policy expressed herein. Any such deletions or modifications shall be
effective immediately upon Quote Sentinel's posting thereof. Any use of Quote Sentinel by
User after such notice shall be deemed to constitute acceptance by User of such
modifications. If you have any questions regarding this Agreement or Quote Sentinel's
terms and conditions of use, you may contact us by emailing
contact@quotesentinel.com</p></dd>

<h2>3. Cancellation Policy  </h2>

<dd>
<p>User may cancel their service at any time.  User agrees that at time of cancellation
any unsettled charges will be paid immediately, after which no charges will be made
by Quote Sentinel.  User agrees that determinations and charges to credit cards will
be made by Quote Sentinel in its sole discretion, and such determination shall be final
and binding.</p>
</dd>

<h2>4. EMAIL POLICY</h2>

<dd>
<p>By using the Services, User agrees to receive appointment and purchase
confirmations by email after booking a reservation through the Site.
Notwithstanding the foregoing, you acknowledge and agree that you will still
receive reservation confirmation emails, other emails relating to reservations
booked by you through the Site, purchase confirmations, and return
confirmations even if you have opted not to receive other periodic email from
us. By providing information to us, or by submitting a reservation or making a
purchase, you agree to being contacted by us and/or by Service Providers for
any purposes related to the Services, the Site or a service request.</p>
</dd>

<h2>5. Equipment.</h2>

<dd>
<p>User shall be responsible for obtaining and maintaining all telephone,
computer hardware and other equipment needed for access to and use of this Site
and all charges related thereto. Quote Sentinel shall not be liable for any damages
to the User's equipment resulting from the use of this Site.</p>
</dd>

<h2>6. User Conduct.</h2>

<dd>
<p>You agree that you are only authorized to visit, view, and retain a copy of
pages of this Site for your own personal use, and that you shall not duplicate,
download, publish, modify, or otherwise distribute the material on this Site
for any commercial use, or for any purpose other than as described in this
Agreement. If it is determined
or suspected by Quote Sentinel in its sole discretion that you are misusing or
attempting to misuse or circumvent the Services or system, or are using or
attempting to use them for any inappropriate, non-personal, or commercial
purposes, including but not limited to activities such as hacking,
infiltrating, fraud, advertising, jamming or spamming, Quote Sentinel reserves the
right, in its sole discretion, to immediately terminate your access without
notice and to initiate without notice appropriate legal actions or proceedings
to seek appropriate remedies and/or damages, including but not limited to lost
revenue, repairs, legal fees, costs and expenses, and to seek injunctions or
other equitable remedies.</p>

<p>TO KNOWINGLY INPUT FALSE INFORMATION, INCLUDING BUT NOT LIMITED TO NAME,
PHONE NUMBER, ADDRESS OR E-MAIL ADDRESS IS A VERY SERIOUS AND FRAUDULENT MATTER
THAT COULD RESULT IN SIGNIFICANT COSTS AND DAMAGES INCLUDING INVASION OF
PRIVACY RIGHTS, TO QUOTE SENTINEL AND TO CONSUMERS, AS WELL AS THE LOSS OF TIME,
EFFORT AND EXPENSE RESPONDING TO AND PURSUING SUCH FALSE INFORMATION AND
REQUEST, AND FURTHER, COULD RESULT IN REGULATORY FINES AND PENALTIES.
ACCORDINGLY, IF YOU KNOWINGLY INPUT FALSE INFORMATION IN A SERVICE REQUEST,
INCLUDING BUT NOT LIMITED TO SOMEONE ELSE'S NAME, E-MAIL ADDRESS, PHYSICAL
ADDRESS OR PHONE NUMBER OR A RANDOM OR MADE UP NAME, ADDRESS, E-MAIL OR PHONE
NUMBER YOU AGREE TO FULLY INDEMNIFY AND BE LIABLE TO QUOTE SENTINEL AND EACH SERVICE
PROVIDER WHO ACCEPTS SUCH SERVICE REQUESTS.</p>

<p>The foregoing provisions of this Section 6 apply equally to and are for the
benefit of Quote Sentinel, its subsidiaries, affiliates, Merchants and its
third-party content providers and licensors, and each shall have the right to
assert and enforce such provisions directly or on its own behalf.</p>
</dd>

<h2>7. Copyright and Trademarks.</h2>

<dd>
<p>Everything located on or in this Site is the exclusive property of Quote Sentinel,
Inc. or used with express permission of the copyright and or trademark owner.
ANY COPYING, DISTRIBUTING, TRANSMITTING, POSTING, LINKING, DEEP LINKING, OR
OTHERWISE MODIFYING OF THIS SITE WITHOUT THE EXPRESS WRITTEN PERMISSION OF
QUOTE SENTINEL, INC. IS STRICTLY PROHIBITED. Any violation of this policy may result
in a copyright, trademark or other intellectual property right infringement
that may subject User to civil and or criminal penalties.</p>
</dd>

<h2>8. Disclaimer of Warranty.</h2>

<dd>
<p>USER EXPRESSLY AGREES THAT USE OF THIS SITE AND THE MICROSITES IS AT USER'S
SOLE RISK. NEITHER QUOTE SENTINEL, ITS AFFILIATES NOR ANY OF THEIR RESPECTIVE
EMPLOYEES, AGENTS, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR
ANY OF THEIR OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS, WARRANT THAT USE OF THE
SITE OR ANY WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY
AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS SITE, OR (II) THE
ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICE OR VOUCHERS
PROVIDED THROUGH THIS SITE.</p>

<p>THIS SITE IS MADE ACCESSIBLE ON AN "AS IS" AND "AS AVAILABLE" BASIS.
QUOTE SENTINEL HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND
CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THOSE OF
TITLE NONINFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR
PURPOSE.</p>

<p>ALTHOUGH QUOTE SENTINEL HAS TAKEN CERTAIN STEPS TO EXAMINE THE CREDENTIALS OF OUR
LISTED SERVICE PROVIDERS, QUOTE SENTINEL MAKES NO GUARANTEE REGARDING THE SKILLS OF
THE SERVICE PROVIDERS NOR THE QUALITY OF SERVICES PROVIDED. QUOTE SENTINEL DOES NOT
GUARANTEE THE QUALITY OF THE SERVICES OF ANY PARTICULAR SERVICE PROVIDER ON OUR
SITE. IT IS ENTIRELY UP TO THE USER TO DETERMINE WHETHER A SERVICE PROVIDER IS
SUITED FOR A PARTICULAR TASK. THE SERVICE PROVIDERS ARE NOT EMPLOYEES OR AGENTS
OF QUOTE SENTINEL. WE MAKE NO GUARANTEE THAT THE SERVICE PROVIDER WILL ACCEPT YOUR
BOOKING REQUEST (THOUGH WE WILL REWARD YOU THE USER IF THEY DO NOT). SHOULD YOU
HAVE A DISPUTE WITH ANY SERVICE PROVIDER, YOU MUST ADDRESS SUCH DISPUTE WITH
THE SERVICE PROVIDER DIRECTLY.</p>
</dd>

<h2>9. Limitation of Liability.</h2>

<dd>
<p>IN NO EVENT SHALL QUOTE SENTINEL, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO THIS AGREEMENT.
IN NO EVENT WILL QUOTE SENTINEL'S LIABILITY IN CONNECTION WITH A SERVICE PROVIDER
EXCEED THE AMOUNTS PAID FOR SUCH SERVICE AND TOTAL AGGREGATE LIABILITY ARISING
OUT OF OR RELATED TO THIS AGREEMENT SHALL NOT EXCEED THE AMOUNTS PAID BY USER
DURING THE SIX MONTHS PRECEDING THE BRINGING OF ANY CLAIM.</p>
</dd>

<h2>10. Privacy.</h2>

<dd>
<p>User acknowledges that all discussion for ratings, comments, bulletin board
service, chat rooms and or other message or communication facilities
(collectively "Communities") are public and not private communications, and
that, therefore, others may read User's communications without User's
knowledge. Quote Sentinel does not control or endorse the content, messages or
information found in any Community, and, therefore, Quote Sentinel specifically
disclaims any liability concerning the Communities and any actions resulting
from Users' participation in any Community, including any objectionable
content. Generally, any communication which User posts to Quote Sentinel (whether in
chat rooms, discussion groups, message boards or otherwise) is considered to be
non-confidential.  By posting comments, messages or other information on the
Site or any Microsite, User grants Quote Sentinel the right to use such comments,
messages or information for promotions, advertising, market research or any
other lawful purpose without territorial, time or other limitation.  </p>
</dd>

<h2>11. Credit Card Policy.</h2>

<dd>
<p>Quote Sentinel uses a secure third party payment processor fouthorization and
processing.  We DO NOT store any of your credit card information. WE AT
QUOTE SENTINEL TAKE OUR RESPONSIBILITY REGARDING THE PRIVACY OF YOUR CREDIT CARD
INFORMATION VERY SERIOUSLY.</p>
</dd>

<h2>12. Indemnification/Release.</h2>

<dd>
<p>User agrees to defend, indemnify and hold harmless Quote Sentinel, its affiliates
and their respective directors, officers, employees and agents from and against
all claims and expenses, including attorneys' fees, arising out of or related
to any Services purchased by User in connection with the Site.</p>
</dd>

<h2>13. Termination.</h2>

<dd>
<p>Quote Sentinel may terminate this Agreement at any time. Without limiting the
foregoing, Quote Sentinel shall have the right to immediately terminate any passwords
or accounts of User in the event of any conduct by User which Quote Sentinel, in its
sole discretion, considers to be unacceptable, or in the event of any breach by
User of this Agreement. The provisions of Sections 2, 5, 6, 7, 8, 9 and 12
will survive termination of this Agreement.</p>
</dd>

<h2>14. Trademarks.</h2>

<dd>
<p>Quote Sentinel is a trademark of Quote Sentinel, Inc. All rights in respect of this
trademark are hereby expressly reserved. Unless otherwise indicated, all other
trademarks appearing on Quote Sentinel are the property of their respective
owners.</p>
</dd>

<h2>15. Miscellaneous.</h2>

<dd>
<p>This Agreement, including the Terms of Sale set forth below (which are
incorporated into this Agreement), and any operating rules for Quote Sentinel
established by Quote Sentinel, constitute the entire agreement of the parties with
respect to the subject matter hereof. No waiver by either party of any breach
or default hereunder is a waiver of any preceding or subsequent breach or
default. The section headings used herein are for convenience only and shall be
of no legal force or effect. If any provision of this Agreement is held invalid
by a court of competent jurisdiction, such invalidity shall not affect the
enforceability of any other provisions contained in this Agreement, and the
remaining portions of this Agreement shall continue in full force and effect.
The failure of either party to exercise any of its rights under this Agreement
shall not be deemed a waiver or forfeiture of such rights or any other rights
provided hereunder.</p>
</dd>

<h2>16. Arbitration.</h2>

<dd>
<p>By using this Site, User agrees that: (1) any claim, dispute, or controversy
User may have against Quote Sentinel arising out of, relating to, or connected in any
way with this Agreement, this Site, or sale shall be resolved exclusively by
final and binding arbitration administered by the American Arbitration
Association ("AAA") and conducted before a single arbitrator pursuant to the
applicable Rules and Procedures established by AAA ("Rules and Procedures");
(2) the arbitration shall be held at a location determined by AAA pursuant to
the Rules and Procedures (provided that such location is reasonably convenient
for User), or at such other location as may be mutually agreed upon by User and
Quote Sentinel; (3) the arbitrator shall apply Illinois law consistent with the
Federal Arbitration Act and applicable statutes of limitations, and shall honor
claims of privilege recognized at law; (4) there shall be no authority for any
claims to be arbitrated on a class or representative basis; arbitration can
decide only the User's and or Quote Sentinel's individual claims; and the arbitrator
may not consolidate or join the claims of other persons or parties who may be
similarly situated; (5) in the event that the User is able to demonstrate that
the costs of arbitration will be prohibitive as compared to the costs of
litigation, Quote Sentinel will pay as much of the User's filing and hearing fees in
connection with the arbitration as the arbitrator deems necessary to prevent
the arbitration from being cost-prohibitive; and (6) with the exception of
subpart (4) above, if any part of this arbitration provision is deemed to be
invalid, unenforceable or illegal, or otherwise conflicts with the Rules and
Procedures established by AAA, then the balance of this arbitration provision
shall remain in effect and shall be construed in accordance with its terms as
if the invalid, unenforceable, illegal or conflicting provision were not
contained herein. If, however, subpart (4) is found to be invalid,
unenforceable or illegal, then the entirety of this Arbitration Provision shall
be null and void, and neither User nor Quote Sentinel shall be entitled to arbitrate
their dispute. For more information on AAA and its Rules and Procedures, Users
may visit the AAA website at http://www.adr.org.</p>
</dd>

<h2>17.  Jurisdiction</h2>

<dd>
<p>This Agreement is made under and shall be governed by and construed in
accordance with the laws of the State of Illinois, without regard to any choice
of law provisions.</p>
</dd>

</dl>


<h4>II.TERMS OF SALE</h4>

<p>By using the Site, you acknowledge and agree that the relationship between
you and Quote Sentinel is that of independent contractors and not of principal-agent,
joint ventures, partners, employer-employee; and no such relationship is
intended or created hereby.</p>

<p>All reservations and or appointments made through the Site are reservations
made with the Service Provider through Quote Sentinel to be used in exchange for
Services at a discount from their actual cost. By making a reservation and or
appointment with a Merchant through Quote Sentinel, you are purchasing Services from
the Service Provider.  The Merchant, not Quote Sentinel, is the seller of Services
and as such is solely responsible for adherence to the reservation and or
appointment along with the Services provided.</p>



</div>
{% endblock %}
