{% extends "base.html" %}

{% block content %}
<div class="static">
    <h2>Tour</h2>

copy the <a href="http://www.getballpark.com/tour.php">ballpark tour</a>.

<pre>
Dashboard

The Dashboard is the heart of QuoteSentinel.  Here you create PriceWatches which tell QuoteSentinel what stocks to monitor for you.

Imagine you own some microsoft stock at $23.75.  If it goes down to $21, you want to buy some more.  If it goes up to 26, you want sell and take your profits.  Instead of having to watch your stock all the time, just set a PriceWatch and let QuoteSentinel do the rest.

The dashboard doubles as a centralized location for you to watch all the stocks you're interested in and helps remind you of what the critical price points are for each stock in your portfolio.  Leave it open all day and the stock prices will keep updating.

PriceWatch
Each stock you're interested in is managed by a pricewatch.  Here you set whether you want to receive text or email alerts from QuoteSentinel.  If your pricewatch is triggered, QuoteSentinel sends you an alert and turns off your PriceWatch.  You can then adjust the trigger prices and turn your PriceWatch back on.

Try QuoteSentinel Free for 30 days!
</pre>
</div>
{% endblock %}
