{% extends "base.html" %}

{% block content %}
<div id="tour">
    <h1>Tour</h1>
    <section>
        <header></header>
        <img class="left" src="{{ MEDIA_URL }}images/tour-2.jpg" alt="" width="340" height="300"/>
        <h3>Why use QuoteSentinel?</h3>
        <p>Imagine you own some microsoft stock at $23.75.  If it goes down to $21, you want to buy some more.  If it goes up to 26, you want sell and take your profits.  Instead of having to watch your stock all the time, just set a PriceWatch and let QuoteSentinel do the rest.</p>
        <p>Computers are great for automated tasks like watching stocks.  They don't get bored and they can watch many things simultaneously. It just makes sense to delegate this task to a computer.</p>
    </section>
    <section>
        <header></header>
        <img class="right" src="{{ MEDIA_URL }}images/tour-1.png" alt="" width="340" height="300"/>
        <h3>Save time and energy!</h3>
        <p>Too often, investors and traders allocate their time and energy to watching a stock that barely ever moves.  Then, sometimes when it does move, it'll be when they're not looking.  Worrying about this detracts from other tasks that people need to do.  Setting up a PriceWatch with Quote Sentinel helps you focus on whatever else you need to do.</p>
    </section>
    <section>
        <header></header>
        <img class="left" src="{{ MEDIA_URL }}images/tour-2.jpg" alt="" width="340" height="300"/>
        <h3>Dashboard</h3>
        <p>The Dashboard is the heart of QuoteSentinel.  Here you create PriceWatches which tell QuoteSentinel what stocks to monitor for you.</p>
        <p>The dashboard doubles as a centralized location for you to watch all the stocks you're interested in and helps remind you of what the critical price points are for each stock in your portfolio.  Leave it open all day and the stock prices will keep updating.</p>
    </section>
    <section>
        <header></header>
        <img class="right" src="{{ MEDIA_URL }}images/tour-3.jpg" alt="" width="340" height="300"/>
        <h3>PriceWatch</h3>
        <p>Each stock you're interested in is managed by a pricewatch.  Here you set whether you want to receive text or email alerts from QuoteSentinel.  If your pricewatch is triggered, QuoteSentinel sends you an alert and turns off your PriceWatch.  You can then adjust the trigger prices and turn your PriceWatch back on.</p>
    </section>
    <a class="btn" href="#">
        <div class="main-stripe plans">
        <p>Try QuoteSentinel Free for 30 days!<img src="{{ MEDIA_URL }}images/free-plan-arrow.png"></p>
        </div>
    </a>
</div>
{% endblock %}
