{% extends "base.html" %}

{% block extrahead %}
<script>
jQuery(function($) {
    function markFree(on) {
        $('.cc-info').toggleClass('free', on);
    }
    markFree({{ plan_record.free|lower }});
    $('#planGrid > tfoot input:radio').change(function() {
        var price = parseFloat($(this).next().val());
        markFree(!price);
        $('#amount').html(price ? '$' + price : 'free');
    });
    $('#planGrid td').click(function(){
      $('#planGrid > tfoot input:radio').get($(this).prevAll().length-1).click();
    });
});
</script>
{% endblock %}

{% block content %}
<h1 class="center">Modify Your Plan</h1>
<form method="post" class="upgrade">

<table id="planGrid" class="center">
    <thead>
        <tr>
            <th>Plan</th>
{% for plan in plans %}
            <td {% if profile.plan == plan %} class="currentPlan"{% endif %}><h3>{{ plan.name }}</h3></td>
{% endfor %}
        </tr>
    </thead>
    <tbody>
      <tr>
        <th>Price</th>
{% for plan in plans %}
        <td {% if profile.plan == plan %} class="currentPlan"{% endif %}>
            <big>${{ plan.billing_period_price }}</big>/month
        </td>
{% endfor %}
      </tr>
      <tr>
        <th>Monitors</th>
{% for plan in plans %}
        <td {% if profile.plan == plan %} class="currentPlan"{% endif %}>
            {% if plan.max_price_watches %}{{ plan.max_price_watches }}{% else %}unlimited{% endif %}
        </td>
{% endfor %}
      </tr>
      <tr>
        <th>Email Alerts</th>
{% for plan in plans %}
        <td {% if profile.plan == plan %} class="currentPlan"{% endif %}>
            <div class="icon {% if plan.allow_email_alerts %}icon-yes{% else %}icon-no{% endif %}"></div>
            {% if plan.limit_email_alerts %}{{ plan.limit_email_alerts }}/mo{% else %}no limit{% endif %}
        </td>
{% endfor %}
      </tr>
      <tr>
        <th>SMS Alerts</th>
{% for plan in plans %}
        <td {% if profile.plan == plan %} class="currentPlan"{% endif %}>
            <div class="icon {% if plan.allow_phone_alerts %}icon-yes{% else %}icon-no{% endif %}"></div>
            {% if plan.limit_phone_alerts %}{{ plan.limit_phone_alerts }}/mo{% else %}no limit{% endif %}
        </td>
{% endfor %}
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
{% for plan in plans %}
        <td {% if profile.plan == plan %} class="currentPlan"{% endif %}>
          <input type="radio" id="p{{ plan.id }}-cb" name="plan_id" value="{{ plan.id }}"
              {% if plan_record == plan %} checked="checked" {% endif %} />
          <input type="hidden" id="p{{ plan.id }}" value="{{ plan.billing_period_price }}"/>
          {% if profile.plan == plan %}
              <p>Current</p>
          {% endif %}
        </td>
{% endfor %}
      </tr>
    </tfoot>
</table>

  <section class="cc-info register down">
    <header>
      <h2>Upgrde details</h2>
      <h3></h3>
    </header>
    <div>
        <label>Due amount</label>
        <b id="amount">{% with plan_record.billing_period_price as amount %}
            {% if amount %}${{ amount }}{% else %}free{% endif %}
        {% endwith %}</b>
    </div>
    <div class="cc-data">
        <label for="id_card_holder">Name on card</label>
        {{ form.card_holder }}
        {{ form.card_holder.errors }}
    </div>
    <div class="cc-data">
        <label for="id_card_number">Card number</label>
        {{ form.card_number }}
        {{ form.card_number.errors }}
    </div>
    <div class="cc-data">
        <label for="id_card_expires_month">Expires on</label>
        {{ form.card_expires_month }}
        {{ form.card_expires_year }}
    </div>
    <footer>
      <button type="submit" id="submit">Update subscription</button>
    </footer>
    {# include fields required by form, perhaps this can be implemented better #}
    <input type="hidden" name="username" value="{{ user.username }}"/>
    {#<input type="hidden" name="username" value="{{ user.username }}{% now "u" %}"/> #}
    <input type="hidden" name="password1" value="-"/>
    <input type="hidden" name="password2" value="-"/>
  </section>
</form>
{% endblock %}
