{% extends "base.html" %}

{% block extrahead %}
<script>
jQuery(function($) {
    function markFree(on) {
        $('.cc-info').toggleClass('free', on);
    }
    markFree({{ plan_record.free|lower }});
    $('.upgrade input:radio').change(function() {
        var price = parseFloat($(this).next().val());
        markFree(!price);
        $('#amount').html(price ? '$' + price : 'free');
    });
});
</script>
{% endblock %}

{% block content %}
<form method="post" class="upgrade">
<div class="cc-info register">
    <h2>Upgrade details</h2>
    <div>
        <label>Due amount</label>
        <b id="amount">{% with plan_record.billing_period_price as amount %}
            {% if amount %}${{ amount }}{% else %}free{% endif %}
        {% endwith %}</b>
    </div>
    <div class="cc-data">
        <label for="id_card_holder">Name on card</label>
        {{ form.card_holder }}
        {{ form.card_holder.errors }}
    </div>
    <div class="cc-data">
        <label for="id_card_number">Card number</label>
        {{ form.card_number }}
        {{ form.card_number.errors }}
    </div>
    <div class="cc-data">
        <label for="id_card_expires_month">Expires on</label>
        {{ form.card_expires_month }}
        {{ form.card_expires_year }}
    </div>
    <button type="submit" id="submit">Update subscription</button>

    {# include fields required by form, perhaps this can be implemented better #}
    <input type="hidden" name="username" value="{{ user.username }}{% now "u" %}"/>
    <input type="hidden" name="email" value="{{ user.email }}"/>
    <input type="hidden" name="password1" value="-"/>
    <input type="hidden" name="password2" value="-"/>
</div>
<table>
{% for plan in plans %}
    <tr>
        <td>
            <input type="radio" name="plan_id" value="{{ plan.id }}"
                {% if plan_record == plan %} checked="checked" {% endif %} />
            <input type="hidden" id="p{{ plan.id }}" value="{{ plan.billing_period_price }}"/>
            {% if profile.plan == plan %}
                <p>This is your current subscription plan.</p>
            {% endif %}
        </td>
        <td>
            {% include "plan_include.html" %}
        </td>
    </tr>
{% endfor %}
</table>
</form>
{% endblock %}
