{% extends "base.html" %}

{% block content %}
<form method="post">
  <section class="center down">
    <head>
      <h2>Phone activation</h2>
      <h3>{{ form.non_field_errors }}</h3>
    </head>
    <div>
        <label for="id_token">Confirmation string</label>
        {{ form.token }}
        {{ form.token.errors }}
    </div>
    <div>
        <label for="id_phone">Phone number</label>
        {{ form.phone }}
        {{ form.phone.errors }}
    </div>
    <footer>
    <button type="submit">Activate number</button>
    </footer>
  </section>
</form>
{% endblock %}
